/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

body {
   padding-top: 50px;
   margin: 0px;
   min-height: 100%;
}

html {
   margin: 0px;
   height: 100%;
}


.jumbotron {
  /* image is from https://unsplash.com/ */
  background-image:url("https://cloud.githubusercontent.com/assets/9423846/7126998/5a0d44f2-e20c-11e4-86a4-f542c2202150.jpg");
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 55px;  
}

.jumbotron p {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.jumbotron li {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}